<!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <link rel="stylesheet" href="/stylesheets/orderCSS/orderThankyouCSS.css">


      <title>Order Received</title>
      
    </style>
  </head>
  <body>
    <%- include('../partials/header') %>
    <div class="thankyou-container">
      <h1>Thank you for your order!</h1>
      <p>Your order has been received and is being processed.</p>
      <a href="/">Return to Home</a>
    </div>
    <%- include('../partials/footer') %>
  </body>
    </html>