<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/reservationCSS/reservationThankyouCSS.css">

    <title>Thank You</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
    <h1>Reservation Confirmed</h1>
<p>Thank you for your reservation. We look forward to serving you!</p>
<a href="/">Back to Home</a>
</main>
<%- include('../partials/footer') %>
</body>
</html>