<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/partialCSS/panel.css">
    <title></title>
</head>
<body>
    <div class="sidebar">
        <h2>Admin Panel</h2>
        <ul>
            <li><a href="/admin">Dashboard</a></li>
          <li><a href="/contact/contactView">Manage Contacts</a></li>
          <li><a href="/order/all">View Orders</a></li>
          <li><a href="/reservation/all">View Reservations</a></li>
          <li><a href="/menu">Manage Menu</a></li>
          <li><a href="/logout" class="logout">Logout</a></li>
        </ul>

      </div>
</body>
</html>

      