<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Your Name">
    <title>The Riverside</title>

    <link rel="stylesheet" href="/stylesheets/term/term.css">

</head>
<body>
    <%- include('../partials/header') %>
    
    <main class="terms-container">
        <h1 class="terms-title">PRIVACY POLICY</h1>
        <div class="terms-section">
            <h2 class="terms-subtitle">Privacy Policy - the basics</h2>
            <p>Please read the following terms carefully before proceeding with your purchase and payment. By making a purchase decision, you agree to our terms of use. These terms may change from time to time and you will be bound by the terms displayed from the time you read these terms. We always want to bring customers the best quality service. The explanations and information provided on this page are only general and high-level explanations and information on how to write your own document of a Privacy Policy. You should not rely on this article as legal advice or as recommendations regarding what you should actually do, because we cannot know in advance what are the specific privacy policies you wish to establish between your business and your customers and visitors. We recommend that you seek legal advice to help you understand and to assist you in the creation of your own Privacy Policy.</p>
        </div>
        <div class="terms-section">
            <h2 class="terms-subtitle">Terms and conditions - the basics</h2>
            <p>When you provide us with your purchase information, we are allowed to use that information to complete the delivery process, resolve any problems that may arise after the purchase process, and use it to take care of and send you promotional information (that may) be available during future sales activities.  You should not rely on this article as legal advice or as recommendations regarding what you should actually do, because we cannot know in advance what are the specific privacy policies you wish to establish between your business and your customers and visitors. We recommend that you seek legal advice to help you understand and to assist you in the creation of your own Privacy Policy.</p>
        </div>
    </main>
    
    
<!-- phần tổng kết cuối trang -->
<%- include('../partials/footer') %>

</body>
</html>
