<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Your Name">
    <title>The Riverside</title>

    <link rel="stylesheet" href="/stylesheets/term/term.css">

</head>
<body>
    <%- include('../partials/header') %>
    
    <main class="terms-container">
        <h1 class="terms-title">Refund Polic</h1>
        <div class="terms-section">
            <h2 class="terms-subtitle">We try to support customers to have the best shopping experience at the website with the following purchasing & refund policies:</h2>

            <ol>
                <li>You do not have to receive the goods & pay if the delivered product is not the same as the invoice you ordered, or is damaged during transportation.</li>
                <li>We will not refund if the cake has been delivered to you as requested but you refuse to receive it, or if the damage occurs after the receipt inspection process between you and our delivery staff.</li>
                <li>If you have paid in advance and there is a problem during the delivery process or the product is defective, we will refund 100% of the order value within a maximum of 7 working days (maybe sooner).</li>
                <li>In case you cancel the order after deposit, we will not refund the deposit if the agreed delivery date has come or the cake you ordered has been made by us (applicable to large cake sizes).</li>
                <li>In case you cancel the order after payment has been made (cash or bank transfer), after we confirm your successful payment, we will refund 100% of the payment value within a maximum of 7 working days (maybe sooner).</li>
                <li>In case we have to refund the goods to you and you have made payment via bank transfer before, we must confirm receipt of your successful payment before proceeding with the refund method according to the procedure.</li>
                <li>Any request for immediate refund will not be accepted, we will carry out the payment confirmation check process and transfer the refund within a maximum of 7 working days (maybe sooner).</li>
                <li>Bank transfer will be applied for refund, please provide us with your bank account information when notifying us of your refund request.</li>
            </ol>
        </div>
    </main>
    
    
    <%- include('../partials/footer') %>

</body>
</html>
